<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://202405-boardingsimulationv3api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d21191d1-f50e-470f-a962-de0b1dbcece1/resourcegroups/SouthWest/providers/Microsoft.Web/sites/202405-BoardingSimulationV3API</ResourceId>
    <UserName>$202405-BoardingSimulationV3API</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://202405-boardingsimulationv3api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>